@import url(http://fonts.googleapis.com/css?family=Roboto:300);
/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6,
pre, form, p, blockquote, fieldset, input, abbr, article, aside, command,
details, figcaption, figure, footer, header, hgroup, mark, meter, nav,
output, progress, section, summary, time {
    margin:0;
    padding:0;
}

BODY {
	background:#fff;

	font-family:Roboto, san-serif, 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, Verdana;
	font-size:28px;
	font-weight:300;
	color:#3f4753;
}
#BrsrMsgBody {
	width:820px;
	height:380px;
	text-align:center;
	line-height:40px;

	top:50%;
	left:50%;
	position:absolute;
	margin:-170px 0 0 -410px;
}
#BrsrMsgBody IMG#BrsrMsgTitle {
	width:594px;
	height:42px;
	margin-bottom:20px;
}

#BrsrMsgLink {
	width:375px;
	height:71px;
	display:inline-block;
	margin-top:60px;
	*display:inline;
	*zoom:1;
}
#BrsrMsgLink A {
	width:71px;
	height:71px;
	display:block;
	float:left;
	margin-right:30px;
	color:rgb(255, 255, 255);
	text-decoration:none;
}
#BrsrMsgLink A IMG {
	width:71px;
	height:71px;
	border:0;
}
#BrsrMsgLink A.icn_ie {
	margin-right:auto;
}

.platformMsg {
	width:260px;
	height:20px;
	padding:6px;
	background:rgb(65, 65, 65);
	font-size:16px;
	line-height:20px;
	text-indent:0;

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;

	color:rgb(255, 255, 255);
	top:350px;
	left:274px;
	position:absolute;
}

A.icn_safari .platformMsg.safari {
	display:none;
}
A.icn_safari:hover .platformMsg.safari {
	display:block;
}
A.icn_ie .platformMsg.ie {
	width:360px !important;
	left:224px !important;
	display:none;
}
A.icn_ie:hover .platformMsg.ie {
	display:block;
}

#Copyright {
	width:460px;
	height:70px;
	left:50%;
	bottom:30px;
	margin-left:-230px;
	position:absolute;
	z-index:102;

	font-size:12px;
	font-weight:300;
	color:#949494;
	text-align:center;
}

#Copyright IMG {
	width:86px;
	height:32px;
	border:0;
	margin-bottom:15px;
}