<!--
	Browser Notification for KMU BIT edx
	Minseok Lee (://xmagi.net)

    Aug 20, 2014 created.
    Aug 20, 2014 last changed.
-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9">
<link rel="stylesheet" href="/static/themes/kmu-bit/css/browser.css" type="text/css">
<title>KMU Graduate School of BIT</title>
</head>

<body>
<div id="BrsrMsgBody">
    <img src="/static/themes/kmu-bit/images/browser-title@2x.png" width="594" height="42" id="BrsrMsgTitle" alt="Your browser is not supported." /><br />
    The browser doesn’t support modern web standards completely.<br />
    To use BIT edx, we recommend using the latest version of<br />
    Safari, Firefox, Chrome or Internet Explorer.

    <div id="BrsrMsgLink">
        <a href="//www.apple.com/safari" target="_blank" class="icn_safari">
            <img src="/static/themes/kmu-bit/images/browser-icons-safari@2x.png" width="71" height="71" alt="Download Safari">
            <div class="platformMsg safari">Safari is available for OS X only</div>
        </a>
        <a href="//www.mozilla.org/firefox" target="_blank" class="icn_ff">
            <img src="/static/themes/kmu-bit/images/browser-icons-ff@2x.png" width="71" height="71" alt="Download Firefox">
        </a>
        <a href="//www.google.com/chrome" target="_blank" class="icn_chrome">
            <img src="/static/themes/kmu-bit/images/browser-icons-chrome@2x.png" width="71" height="71" alt="Download Chrome">
        </a>
        <a href="//www.microsoft.com/ie" target="_blank" class="icn_ie">
            <img src="/static/themes/kmu-bit/images/browser-icons-ie@2x.png" width="71" height="71" alt="Download Internet Explorer">
            <div class="platformMsg ie">Internet Explorer is available for Windows only</div>
        </a>
    </div>
</div>
</body>
</html>