 ## mako

<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" href="${static.url('themes/kmu-bit/css/notofonts.css')}" type="text/css" />
<link rel="stylesheet" href="${static.url('themes/kmu-bit/css/browser.css')}" type="text/css" />
<link rel="stylesheet" href="${static.url('themes/kmu-bit/css/vendor/su-identity.css')}" type="text/css" />
<link rel="stylesheet" href="${static.url('themes/kmu-bit/css/vendor/kmu-bit-identity.css')}" type="text/css" />
<link rel="apple-touch-icon" sizes="57x57" href="${static.url('themes/kmu-bit/images/favicons/apple-touch-icon-57x57.png')}" />
<link rel="apple-touch-icon" sizes="114x114" href="${static.url('themes/kmu-bit/images/favicons/apple-touch-icon-114x114.png')}" />
<link rel="apple-touch-icon" sizes="72x72" href="${static.url('themes/kmu-bit/images/favicons/apple-touch-icon-72x72.png')}" />
<link rel="apple-touch-icon" sizes="144x144" href="${static.url('themes/kmu-bit/images/favicons/apple-touch-icon-144x144.png')}" />
<link rel="apple-touch-icon" sizes="60x60" href="${static.url('themes/kmu-bit/images/favicons/apple-touch-icon-60x60.png')}" />
<link rel="apple-touch-icon" sizes="120x120" href="${static.url('themes/kmu-bit/images/favicons/apple-touch-icon-120x120.png')}" />
<link rel="apple-touch-icon" sizes="76x76" href="${static.url('themes/kmu-bit/images/favicons/apple-touch-icon-76x76.png')}" />
<link rel="apple-touch-icon" sizes="152x152" href="${static.url('themes/kmu-bit/images/favicons/apple-touch-icon-152x152.png')}" />
<link rel="icon" type="image/png" href="${static.url('themes/kmu-bit/images/favicons/favicon-196x196.png')}" sizes="196x196" />
<link rel="icon" type="image/png" href="${static.url('themes/kmu-bit/images/favicons/favicon-160x160.png')}" sizes="160x160" />
<link rel="icon" type="image/png" href="${static.url('themes/kmu-bit/images/favicons/favicon-96x96.png')}" sizes="96x96" />
<link rel="icon" type="image/png" href="${static.url('themes/kmu-bit/images/favicons/favicon-16x16.png')}" sizes="16x16" />
<link rel="icon" type="image/png" href="${static.url('themes/kmu-bit/images/favicons/favicon-32x32.png')}" sizes="32x32" />
<meta name="msapplication-TileColor" content="#2d89ef" />
<meta name="msapplication-TileImage" content="${static.url('themes/kmu-bit/images/favicons/mstile-144x144.png')}" />
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      alert("Warning: you are using an unsupported browser\nand may be unable to use some features.\n\nWe suggest you use either Mozilla Firefox or\nGoogle Chrome.");
    });
  </script>
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie8.css" />
<![endif]-->
<!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie7.css" />
<![endif]-->

<script>
/*var _prum = [['id', '53b4687dabe53df34cc101fe'],
             ['mark', 'firstbyte', (new Date()).getTime()]];
(function() {
    var s = document.getElementsByTagName('script')[0]
      , p = document.createElement('script');
    p.async = 'async';
    p.src = '//rum-static.pingdom.net/prum.min.js';
    s.parentNode.insertBefore(p, s);
})();*/
</script>
